
<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
  <div class="pattern-attachment-img">
    <img src="https://cdn.jsdelivr.net/gh/wallleap/cdn@latest/img/banner/links.jpg" onerror="imgError(this,3)" style="width: 100%; height: 300px; object-fit: cover; pointer-events: none;">
  </div>
</div>
<div id="content" class="site-content">
  <div class="hentry">
    <% if (theme.links) { %>
      <div class="links">
        <% (theme.links||[]).forEach(function (group, index) { %>
          <h3 class="link-title"><span class="fake-title">（づ￣3￣）づ╭❤～<%- group.group %></span></h3>
          <% if (group.desc) { %>
            <div class="link-description"><%- group.desc %></div>
          <% } %>
          <ul class="link-items fontSmooth">
            <% (group.items||[]).forEach(function (item) { %>
              <li class="link-item">
                <a class="link-item-inner effect-apollo" href="<%- item.url %>" title="<%- item.desc %>" target="_blank" rel="friend">
                  <img onerror="imgError(this,1)" src="<%- item.img %>">
                  <span class="sitename">
                  <%- item.name %></span>
                  <div class="linkdes">
                  <%- item.desc %></div>
                </a>
              </li>
            <% }) %>
          </ul>
        <% }) %>
      </div>
    <% } %>
  </div>
</div>

