<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <meta name="keywords" content="<% if (page.tags && page.tags.length){ page.tags.forEach(function(tag, i){%> <%=tag.name%> <% if (i+1<page.tags.length){%>,<%} })}%>">
  <meta name="description" content="<% if (page.title){ %><%= page.title %> | <% } %><%= config.title %>">
    <%- fragment_cache('meta', function(){
      return partial('_partial/meta');
    }) %>
    <link rel="stylesheet" href="/css/customize.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/honjun/hexo-tag-emojis-byhj/css/emoji.css">
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <link rel="stylesheet" href="/css/gitment.css">
    <link rel="stylesheet" href="/css/my-gitalk.css">

    <script src="https://cdn.jsdelivr.net/gh/wallleap/cdn@latest/js/hititle.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.js"></script>
    
</head>
<div style="display: none">
  <input class="theme_disqus_on" value="<%=(theme.comment.type=='disqus')%>">
  <input class="theme_preload_comment" value="<%=theme.comment.preload_comment%>">
  <input class="theme_blog_path" value="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>">
</div>
